#intro {
    background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3949ab !important;
    }
}

#intro .h6 {
    font-weight: 300;
    line-height: 1.7;
}

.hm-gradient .full-bg-img {
    background: rgba(42, 27, 161, 0.7);
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

/*验证码*/
.auth-code {
    margin-left: 7px;
    margin-bottom: 20px;
}

.form-auth-code {
    color: #ffffff;
    margin-left: 10px;
}

.form-div {
    color: #ffffff;
    margin: 10px;
}

/*表格标题*/
.form-title {
    color: #ffffff;
    font-size: xx-large;
    margin-bottom: 20px;
}

/*用户协议*/
#user-protocol {
    margin-left: 12px;
    color: #ffffff;
    font-size: 17px;
}

/*主页面*/
.main-container {
    margin-top: 100px;
}

.main-container .jumbotron {
    height: 160px;
    width: 320px;
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.main-container .jumbotron a {
    color: rgba(255, 255, 255, 0.7);
    margin: auto;
}

.form-selection {
    color: #fdfdfd;
    border-radius: 5px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0);
    margin-top: 20px;
    margin-left: -15px;
}

.form-selection-option {
    color: #686868;
    margin-left: 20px;
    font-size: medium;
}

.scroll-panel {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.scroll-panel div {
    border: 1px #000000;
    width: 95%;
    color: #ffffff;
    margin-left: 12px;
}

.form-selection-btn {
    border: 0px;
    border-radius: 5px;
    margin-left: 18px;
    margin-top: 19px;
    height: 40px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.payee-group-list {

}

.payee-group {

}

.payee-group-list a {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

/**消息中心,银行卡包样式*/
.list-group-item-light {
    width: 450px;
}

/**银行卡包样式*/
.yinli {
    margin-top: 3px;
    height: 180px;
    width: 300px;
    background-color: rgba(45, 103, 179, 0.48);
    border-radius: 20px;
}


/*.payee-list-group a h5{*/
/*  margin: auto;*/
/*}*/
